.titleDiv {
    display:flex;
    text-align: center;
}
.titleDiv .titleItem {
    flex:1;
    display:flex;
    border: 1px solid #eee;
    padding: 30px 0px;
    justify-content: center;
    position: relative
}
.titleDiv .titleItem .rateDesc {
    position: absolute;
    top: 0px;
    right: 18px;
    font-size: 14px;
}

.titleDiv .titleItem .rateDesc img {
    position: absolute;
    left: -20px;
    top: -1px;
}
.titleDiv .titleItem:nth-child(2){
    margin: 0 20px;
}
.titleDiv .titleItem .itemIcon {
    width: 60px;
    height: 48px;
    border-radius: 50%;
}
.newSlipDiv {
    border: 1px solid #eee;
}
.newSlipDiv .newSlipTitleDiv {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    padding: 10px;
}
.newSlipDiv .newSlipTitleDiv .newSlipTitleDes {
    margin-top: 4px;
    margin-left: 30px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.85);
}
.newSlipDiv .newSlipTitleDiv .newSlipTitleSel {
    width: 250px;
}
.newSlipDiv .newSlipEchartsDiv {
    display: flex
}
.newSlipDiv .newSlipEchartsDiv .LeftNewSlipDiv {
    margin-left: 40px;
    border-right: 1px solid #eee;
}
.newSlipDiv .newSlipEchartsDiv .LeftNewSlipDiv .LeftNewSlipItem{
    width: 240px;
}
.newSlipDiv .newSlipEchartsDiv .LeftNewSlipDiv .LeftNewSlipItem img {
    position: absolute;
    left: -20px;
    top: -2px;
}
.newSlipDiv .newSlipEchartsDiv .LeftNewSlipDiv .LeftNewSlipItem:nth-child(1){
    margin-top: 14px
}
.newSlipDiv .newSlipEchartsDiv .LeftNewSlipDiv .LeftNewSlipItem:nth-child(2){
    margin-top: 24px
}
.NewSlipIndexLeftDiv {
    display: flex;
    justify-content: space-between
}
.NewSlipIndexRightDiv {
    border: 1px solid #eee;
    width: 38%
}
.NewSlipIndexRightDiv .newSlipTitleDiv{
    border-bottom: 1px solid #eee;
}
.NewSlipIndexRightDiv .newSlipTitleDiv .newSlipTitleDesDiv{
    margin: 16px 0 0 10px;
}
.NewSlipIndexRightDiv .newSlipTitleDiv .newSlipTitleDesDiv span{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.85);
}
.NewSlipIndexRightDiv .newSlipTitleDiv .newSlipSelted{
    margin: 6px 0px 6px 22px
}
.NewSlipIndexRightDiv .newSlipTitleDiv .newSlipSelted span{
    margin-right: 8px;
}
.NewSlipIndexRightDiv .newSlipTitleDiv .newSlipSelted div:nth-child(1){
    margin-bottom: 3px
}
.NewSlipIndexRightDiv .newSlipTitleDiv .newSlipSelted div:nth-child(2){
    margin-top: 3px
}


