


.serchForm {
    // padding: 24px !important;
    // background: #fbfbfb;
    // border: 1px solid #d9d9d9;
    // border-radius: 6px;
    // margin-bottom: 10px;
    :global{
      .ant-form-item {
        display: flex;
      }
      .ant-form-item-control-wrapper {
        flex: 1;
      }
  
    }
  }
  
  
    
  