.wrap {
  background-color: rgba(230, 243, 252, 1);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(212, 240, 252, 1);
  border-radius: 4px;
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  margin: 5px 0;
}

.title{
  margin-right: 5px;
}

.right {
  float: right;
}

.icon {
  color: #1f90e6;
  margin-right: 5px;
}

.num {
  color: #1f90e6;
  margin: 0 2px;
}