@import '~antd/lib/style/themes/default.less';
@import '../../utils/utils.less';

.tableList {
  .tableListOperator {
    margin-bottom: 16px;
    button {
      margin-right: 8px;
    }
  }
}

.columnsBcolor{
  background-color:#00BFFF;
}

.rowBcColor{
  background-color:#cccccc
}

.tableListForm {
  :global {
    .ant-form-item {
      margin-bottom: 24px;
      margin-right: 0;
      display: flex;
      > .ant-form-item-label {
        width: auto;
        line-height: 32px;
        padding-right: 390px;
      }
      .ant-form-item-control {
        line-height: 32px;
      }
    }
    .ant-form-item-control-wrapper {
      flex: 1;
    }
  }
  .submitButtons {
    display: block;
    white-space: nowrap;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: @screen-lg) {
  .tableListForm :global(.ant-form-item) {
    margin-right: 24px;
  }
}

@media screen and (max-width: @screen-md) {
  .tableListForm :global(.ant-form-item) {
    margin-right: 8px;
  }
}
.serchForm {
  // padding: 24px !important;
  // background: #fbfbfb;
  // border: 1px solid #d9d9d9;
  // border-radius: 6px;
  // margin-bottom: 10px;
  :global{
    .ant-form-item {
      display: flex;
    }
    .ant-form-item-control-wrapper {
      flex: 1;
    }

  }
}

.customfilterdropdown {
  padding: 8px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
}

.customfilterdropdown input {
  width: 130px;
  margin-right: 8px;
}

.highlight {
  color: #f50;
}

