.baseInfo{
    background-color: rgb(230, 243, 252);
    height: 35px;
    margin: 11px 0px;
    line-height: 35px;
    border-radius: 6px;

    span {
      margin:15px
    }

    // Icon{
    //   background-color: #108ee9;
    //   color:#108ee9
    // }
  }