.TitleSpan{
    margin-right: 7px;
    padding-right: 7px;
    color:#7a7a7a;
}
.TableTitle .TitleSpan{
    border-right: 1px solid #eee;
}

.TableTitle .TitleSpan span{
    color:green;
}

.TableTitle .TitleSpan:last-child{
    border-right: none;
}

.TableTitle .TitleSpan:last-child span{
    color:#333;
}
