.togglebtn{
    float: right;
    position: relative;
    margin-top: 4px;
    user-select: none;
}

.ClassifyLabelWrapper{
    overflow: hidden;
    .ClassifyLabel{
        float: left;
        cursor: pointer;
        margin-right: 20px;
        padding:5px 7px;
        margin-top: 3px;
        border-radius: 4px;
        margin-bottom: 3px;
    }
    .ClassifyLabel:hover{
        background-color: #eee;
    }
}
