.chartDiv {
    text-align: center;
    position: relative;
    margin-top: -56px;
}
.chartDiv .des {
    position: absolute;
    display: block;
    left: 50%;
    top: 250px;
    margin-left: -58px;
}
.chartDiv .orderList {
    display: flex
}
.chartDiv .orderList .orderItem {
    flex: 1
}
.chartDiv .orderList .orderItem:nth-child(2) {
    border-left: 1px solid #d9d6d6;
    border-right: 1px solid #d9d6d6;
}