.customaddwrapper {
   :global{
    .ant-form-item-label{
        display: table-cell !important;
        // width:80px;
        word-break: break-all;
        white-space: normal;
        line-height: 20px !important;
        // text-align: left;
      }
      .ant-form-item-control-wrapper{
        display: table-cell !important;
        width:70%;
        height:39px;
      }
      .ant-form-item{
        width: 100%;
        margin-bottom: 12px !important;
    }
   } 
}
.customaddwrapper2 {
  
    :global{
     .ant-form-item-label{
         display: table-cell !important;
         width:90px;
         word-break: break-all;
         white-space: normal;
         line-height: 34px !important;
         // text-align: left;
       }
       .ant-form-item-control-wrapper{
         display: table-cell !important;
         width:60%;
        //  height:39px;
       }
       .ant-form-item{
           width: 100%;
           margin-bottom: 15px !important;
       }
    } 
 }
   