:global {
	.table-operations {
	  margin-bottom: 16px;
	}
	.table-operations > button {
	  margin-right: 8px;
	  margin-bottom: 8px;
	}
	.ant-tag {
		margin-bottom: 8px;
		height: auto;
		padding: 5px;
	}
	.textAreaEdit {
		.ant-form-item-control-wrapper {
			height: auto !important;
		}
	}
	.custom-form-wrapper {
		.ant-col-sm-24, .ant-col-md-12 {
			margin-top: 10px;
			.ant-row {
				margin-bottom: 0;
			}
		}
	}
}
.memberStatus{
	display: inline-block;
	padding: 5px 10px;
	border: 1px solid #efefee;
	border-radius: 10px;
	margin: 10px 0;
}
.printStatusTd {
	.printStatusIsOver {
		position: relative;
		&::before {
			content: '';
			position: absolute;
			height: 5px;
			width: 5px;
			background-color: #bfbfbf;
			left: -10px;
			top: 50%;
			transform: translateY(-50%);
			border-radius: 50%;
		}
	}
	.printStatusWaiting {
		position: relative;
		&::before {
			content: '';
			position: absolute;
			height: 5px;
			width: 5px;
			background-color: #389e0d;
			left: -10px;
			top: 50%;
			transform: translateY(-50%);
			border-radius: 50%;
		}
	}
	.printStatusFail {
		position: relative;
		&::before {
			content: '';
			position: absolute;
			height: 5px;
			width: 5px;
			background-color: #f5222d;
			left: -10px;
			top: 50%;
			transform: translateY(-50%);
			border-radius: 50%;
		}
	}
}