html,
body,
:global(#root) {
  height: 100%;
}

:global(.ant-layout) {
  min-height: 100%;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


// temp fix for https://github.com/ant-design/ant-design/commit/a1fafb5b727b62cb0be29ce6e9eca8f579d4f8b7
:global {
  .ant-spin-container {
    overflow: visible !important;
  }
  .globalSpin {
    width: 100%;
    margin: 40px 0 !important;
  }
  .ant-table-wrapper{
    background-color: #fff;
  }
  .ant-form-item label {
    font-size:12px !important;
  }
  #root>div,#root>div>div{
    height:100%;
  }
  .flex1{
    flex: 1;
  }
  .ant-layout-header{
    height: 50px !important;
    line-height: 50px !important;
  }
  .snk-sys-name{
    font-size: 22px;
    padding-left: 10px;
  }
  .ant-menu-item-selected > a, .ant-menu-item-selected > a:hover{
    color:#fff !important;
  }
  .ant-menu-vertical .ant-menu-item:not(:last-child), .ant-menu-vertical-left .ant-menu-item:not(:last-child), .ant-menu-vertical-right .ant-menu-item:not(:last-child), .ant-menu-inline .ant-menu-item:not(:last-child){
    margin-bottom: 0px !important;
  }
  .ant-input-sm{
    font-size: 12px !important;
  }
  .ant-select-selection__placeholder{
    font-size: 12px !important;
  }
  
  .custom-form-wrapper .ant-form-item-label{
    display: table-cell !important;
    width:125px;
    word-break: break-all;
    white-space: normal;
    line-height: 20px !important;
    // text-align: left;
  }
  .custom-form-wrapper-1 .ant-form-item-label{
    width:103px;
  }
  
  .self-channel-form .ant-form-item-required:before{
    position: absolute;
    top:3px;
    left:-18px;
  }
  .self-channel-form .ant-form-item-label{
    text-indent: 10px;
  }
  
  .ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected > a{
    background-color:#1166CE !important; 
    color: #fff !important;
  }
  .ant-menu-dark .ant-menu-item, .ant-menu-dark .ant-menu-item-group-title, .ant-menu-dark .ant-menu-item > a{
    color: #000 !important;
  }
  
  .ant-menu-dark, .ant-menu-dark .ant-menu-sub {
    color: #000 !important;
    background: #fff !important;
  }
  
  .ant-menu-dark .ant-menu-inline.ant-menu-sub {
    background: #F3F2F8 !important;
  }
  
  .ant-menu-dark .ant-menu-item-active {
    background-color:rgb(17, 100, 201) !important; 
    color: #000 !important;
  }
  .ant-menu-dark .ant-menu-submenu-title:hover {
    background-color:rgb(17, 100, 201) !important; 
    color: #fff !important;
  }
  .ant-menu-dark .ant-menu-submenu-open{
    // background-color:#fff !important;
    color: #000 !important;
  }
  
  
  .ant-menu-dark .ant-menu-submenu-active{
    background-color: #fff !important;
    color: #000 !important;
  }
  
  .ant-menu-dark .ant-menu-submenu-selected {
    color: #000 !important;
    background-color: #fff !important;
  
  }
  
  .ant-menu-dark .ant-menu-item:hover,
  .ant-menu-dark .ant-menu-submenu-title:hover {
    background-color:rgb(65, 130, 221) !important;
    color: #fff !important;
  }
  
  .ant-layout-sider {
    transition: all .2s;
    position: relative;
    background: #fff !important;
    /* fix firefox can't set width smaller than content on flex item */
    min-width: 0;
  }
  
  .ant-layout-sider-children .ant-menu-root {
    padding: 0px 0px !important;
    position: relative;
  }
  
  
  .custom-search-form-wrapper .ant-form-item-label{
    width:80px !important;
  }
  .custom-form-wrapper .ant-form-item{
    display: table !important;
    table-layout: fixed;
    width: 100%;
  }
  .custom-form-wrapper .ant-form-item-control-wrapper{
    display: table-cell !important;
    width:100%;
    height:39px;
  }
  .custom-form-wrapper .ant-divider-horizontal{
    margin: 9px 0 !important;
  }
  .custom-form-wrapper .ant-btn-sm{
    font-size: 13px !important;
  }
  
  .custom-table table{
    font-size: 13px !important;
  }
  
  .custom-table .ant-table-fixed-left{
    border-right: 1px solid #e8e8e8;
  }
  
  .ant-form-vertical .ant-form-item{
    padding-bottom: 5px !important;
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header{
    padding: 7px 0 7px 40px !important;
  }
  
  .ant-collapse > .ant-collapse-item > .ant-collapse-header .arrow{
    line-height: 37px !important;
  }
  
  
  .ant-input-disabled input::-webkit-input-placeholder { 
    color:#333;
  }
  .ant-input-disabled input:-moz-placeholder {
    color:#333;
  }
  .ant-input-disabled input::-moz-placeholder { 
    color:#333;
  }
    
  .ant-input-disabled input:-ms-input-placeholder { 
    color:#333;
  }
  .ant-dropdown-menu-item-selected{
    background: #e6fbff !important;
  }
  .ant-input-disabled, .ant-select-selection-selected-value {
    color:#000000b3 !important;
  }
}

