@import '~antd/lib/style/themes/default.less';
@import '../../utils/utils.less';

  .financeListOperator {
    button {
      margin: 10px 8px 16px 0;
    }
  }

@media screen and (max-width: @screen-lg) {
  .financeListForm :global(.ant-form-item) {
    margin-right: 24px;
  }
}

@media screen and (max-width: @screen-md) {
  .financeListForm :global(.ant-form-item) {
    margin-right: 8px;
  }
}
