@import '~antd/lib/style/themes/default.less';
@import '../../utils/utils.less';

  .claimFormOperator {
    button {
      margin: 10px 8px 16px 0;
    }
  }

.claimForm {
  .submitButtons {
    white-space: nowrap;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: @screen-lg) {
  .claimForm :global(.ant-form-item) {
    margin-right: 24px;
  }
}

@media screen and (max-width: @screen-md) {
  .claimForm :global(.ant-form-item) {
    margin-right: 8px;
  }
}
