@import '~antd/lib/style/themes/default.less';

.card {
  margin-bottom: 24px;
}

.heading {
  font-size: 14px;
  line-height: 22px;
  margin: 0 0 16px 0;
}

.steps:global(.ant-steps) {
  max-width: 750px;
  margin: 16px auto;
}

.errorIcon {
  cursor: pointer;
  color: @error-color;
  margin-right: 24px;
  i {
    margin-right: 4px;
  }
}

.errorPopover {
  :global {
    .ant-popover-inner-content {
      padding: 0;
      max-height: 290px;
      overflow: auto;
      min-width: 256px;
    }
  }
}

.errorListItem {
  list-style: none;
  border-bottom: 1px solid @border-color-split;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background: @primary-1;
  }
  &:last-child {
    border: 0;
  }
  .errorIcon {
    color: @error-color;
    float: left;
    margin-top: 4px;
    margin-right: 12px;
    padding-bottom: 22px;
  }
  .errorField {
    font-size: 12px;
    color: @text-color-secondary;
    margin-top: 2px;
  }
}

.policyList {
  :global {
    .ant-form-item-label{
      text-align: left;
      line-height: 15px;
    }
    .ant-form-item{
      margin-bottom: 1px;
    }
    .ant-collapse-content-box{
      padding-top:10px;
      padding-bottom: 10px;
    }
  }
}

.editable {
  td {
    padding-top: 13px !important;
    padding-bottom: 12.5px !important;
  }
}

// custom footer for fixed footer toolbar
.advancedForm + div {
  padding-bottom: 64px;
}

.advancedForm {
  :global {
    .ant-form .ant-row:last-child .ant-form-item {
      margin-bottom: 24px;
    }
    .ant-table td {
      transition: none !important;
    }
  }
}

.optional {
  color: @text-color-secondary;
  font-style: normal;
}

.salesCard {
  .salesBar {
    padding: 0 0 32px 32px;
  }
  .salesRank {
    padding: 0 32px 32px 72px;
  }
  :global {
    .ant-tabs-bar {
      padding-left: 16px;
      .ant-tabs-nav .ant-tabs-tab {
        padding-top: 16px;
        padding-bottom: 14px;
        line-height: 24px;
      }
    }
    .ant-tabs-extra-content {
      padding-right: 24px;
      line-height: 55px;
    }
    .ant-card-head {
      position: relative;
    }
  }
  .am-modal {
    width: 80%!important;
  }
}
.policyInfo {
  :global {
    .ant-row.ant-form-item {
      .ant-form-item-label {
        width: 65px;
      }
    }
  }
}
.policyInfo, .applyInfo, .insrncInfo, .beneTsrInfo {
  :global {
    .ant-row.ant-form-item {
      display: flex;
      margin-right: 0;
      .ant-form-item-label {
        width: 85px;
        flex-shrink: 0;
      }
      .ant-form-item-control-wrapper {
        flex: 1;
      }
      .ant-form-item-control {
        .ant-calendar-picker-icon {
          &:after {
            content: '';
          }
        }
      }
    }
    @media screen and (max-width: 1200px) {
      .ant-row.ant-form-item {
        .ant-form-item-label {
          width: 120px;
        }
      }
    }
  }
}
.applyInfo, .insrncInfo {
  :global {
    .ant-row.ant-form-item {
      .ant-form-item-label {
        width: 95px;
      }
    }
  }
}
.beneTsrInfo {
  :global {
    .ant-row.ant-form-item {
      .ant-form-item-label {
        width: 120px;
      }
    }
  }
}
.address {
  :global {
    .ant-row.ant-form-item {
      display: flex;
      .ant-form-item-label {
        width: 95px;
        flex-shrink: 0;
      }
      .ant-form-item-control-wrapper {
        flex: 1;
      } 
      .ant-form-item-control {
        width: auto;
        flex: 1;
      }
    }
  }
}
.policyAddress {
  :global {
    .ant-row.ant-form-item {
      .ant-form-item-label {
        width: 120px;
      }
    }
  }
}