@import '~antd/lib/style/themes/default.less';
@import '../../utils/utils.less';

  .policyQueryOperator {
    
  }

@media screen and (max-width: @screen-lg) {
  .policyQueryForm :global(.ant-form-item) {
    margin-right: 24px;
  }
}

@media screen and (max-width: @screen-md) {
  .policyQueryForm :global(.ant-form-item) {
    margin-right: 8px;
  }
}
