@import '~antd/lib/style/themes/default.less';
@import '../../utils/utils.less';

  .reprintManageOperator {
    button {
      margin: 5px 8px 5px 0;
    }
  }

.reprintManage {
  .submitButtons {
    white-space: nowrap;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: @screen-lg) {
  .reprintManage :global(.ant-form-item) {
    margin-right: 24px;
  }
}

@media screen and (max-width: @screen-md) {
  .reprintManage :global(.ant-form-item) {
    margin-right: 8px;
  }
}
