@import '~antd/lib/style/themes/default.less';
@import '../../utils/utils.less';

.jobManage {
  .jobManageOperator {
    margin-bottom: 16px;
    button {
      margin-right: 8px;
    }
  }
}

.validate{
  color:green;
  
}
.validatemark{
  width: 6px;
  height: 6px;
  margin-right: 4px;
  display: inline-block;
  background-color: green;
  margin-right: 3px;
  border-radius: 100%;
}
.novalidate{
  color:red;
}
.novalidatemark{
  width: 6px;
  height: 6px;
  margin-right: 4px;
  display: inline-block;
  background-color: red;
  border-radius: 100%;
}


.jobManageForm {
  :global {
    .ant-form-item {
      margin-bottom: 24px;
      margin-right: 0;
      display: flex;
      > .ant-form-item-label {
        width: auto;
        line-height: 32px;
        padding-right: 8px;
      }
      .ant-form-item-control {
        line-height: 32px;
      }
    }
    .ant-form-item-control-wrapper {
      flex: 1;
    }
  }
  .submitButtons {
    white-space: nowrap;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: @screen-lg) {
  .jobManageForm :global(.ant-form-item) {
    margin-right: 24px;
  }
}

@media screen and (max-width: @screen-md) {
  .jobManageForm :global(.ant-form-item) {
    margin-right: 8px;
  }
}
