@import '~antd/lib/style/themes/default.less';
@import '../../utils/utils.less';

.quartzList {
  .quartzListOperator {
    margin-bottom: 16px;
    button {
      margin-right: 8px;
    }
  }
}

.quartzListForm {
  :global {
    .ant-form-item {
      margin-bottom: 24px;
      margin: 0 ;
      display: flex;
      > .ant-form-item-label {
        width: auto;
        line-height: 32px;
        padding-right: 8px;
        margin-left: 20px;
      }
      .ant-form-item-control {
        line-height: 32px;
      }
    }
    .ant-form-item-control-wrapper {
      flex: 1;
    }
  }
  .submitButtons {
    white-space: nowrap;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: @screen-lg) {
  .quartzListForm :global(.ant-form-item) {
    margin-right: 24px;
  }
}

@media screen and (max-width: @screen-md) {
  .quartzListForm :global(.ant-form-item) {
    margin-right: 8px;
  }
}
