@import '~antd/lib/style/themes/default.less';

.card {
  margin-bottom: 24px;
}

.heading {
  font-size: 14px;
  line-height: 22px;
  margin: 0 0 16px 0;
}

.steps:global(.ant-steps) {
  max-width: 750px;
  margin: 16px auto;
}

.errorIcon {
  cursor: pointer;
  color: @error-color;
  margin-right: 24px;
  i {
    margin-right: 4px;
  }
}

.errorPopover {
  :global {
    .ant-popover-inner-content {
      padding: 0;
      max-height: 290px;
      overflow: auto;
      min-width: 256px;
    }
  }
}

.errorListItem {
  list-style: none;
  border-bottom: 1px solid @border-color-split;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background: @primary-1;
  }
  &:last-child {
    border: 0;
  }
  .errorIcon {
    color: @error-color;
    float: left;
    margin-top: 4px;
    margin-right: 12px;
    padding-bottom: 22px;
  }
  .errorField {
    font-size: 12px;
    color: @text-color-secondary;
    margin-top: 2px;
  }
}

.editable {
  td {
    padding-top: 13px !important;
    padding-bottom: 12.5px !important;
  }
}

// custom footer for fixed footer toolbar
.advancedForm + div {
  padding-bottom: 64px;
}

.sectionTitle{
  color: black;
  font-weight: bold;
}

.advancedForm {
  :global {
    .ant-form .ant-row:last-child .ant-form-item {
      margin-bottom: 24px;
    }
    .ant-table td {
      transition: none !important;
    }
  }
}

.optional {
  color: @text-color-secondary;
  font-style: normal;
}

.information {
  border-bottom: 2px solid #f5f5f5;
  margin-bottom: 9px;
  padding-bottom: 9px;
  line-height: 22px;
  :global {
    .ant-row:not(:last-child) {
      margin-bottom: 9px;
    }
  }
  .label {
    color: @heading-color;
    text-align: right;
    padding-right: 8px;
    line-height: 2.2em;
  }
}

.searchListItem {
  //background-color: #F5F5F5;
  border-bottom: 2px solid #f5f5f5;
  display: block;
  padding: 5px 0 2px 0;
  margin-bottom: 25px;
}
