.commStyle {
    padding: 0 7px;
    border-right: 1px solid #eee;
}
.channelName {
    padding-left: 7px;
}
.messTableTitle {
    margin: 30px 0;
    display: flex
}
.messTableTitle .messComStyle {
    flex: 1;
    text-align: center;
}
.messTableTitle .messCenter {
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
}
.messSearch{
    margin-bottom: 10px;
    float: right;
    margin-right: 6px
}
:global {
  .blinkwords{
    color: red;
  }
}