.block {
    padding: 24px;
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    margin-bottom: 10px;
    :global{
      .ant-form-item {
        display: flex;
      }
      .ant-form-item-control-wrapper {
        flex: 1;
      }

      .ant-form-explain {
        position: absolute;
        font-size: 12px;
        margin-top: -4px;
      }
  
    }

   
  }

  .baseInfo{
    background-color: rgb(230, 243, 252);
    height: 35px;
    margin: 11px 0px;
    line-height: 35px;
    border-radius: 6px;

    span {
      margin:15px
    }

    Icon{
      background-color: #108ee9;
      color:#108ee9;
    }
  }

  .editable-row .ant-form-explain {
    position: absolute;
    font-size: 12px;
    margin-top: -4px;
  }